<![CDATA[
/*
<Group description="Theme Color">
<Variable name="themeColor" description="Light Mode Address bar color" type="color" default="#2e51a2" value="#482dff"/>
<Variable name="themeDark" description="Dark Mode Address bar color" type="color" default="#1e1e1e" value="#1e1e1e"/>
</Group>

<Group description="Basic colors and Background">
<Variable name="head.color" description="Heading colors" type="color" default="#262d3d" value="#08102b"/>
<Variable name="body.color" description="Body colors" type="color" default="#48525c" value="#08102b"/>
<Variable name="body.colorAlt" description="Alternative body colors" type="color" default="#767676" value="#989b9f"/>
<Variable name="body.bgColor" description="Main page bakground color" type="color" default="#fffdfc" value="#fdfcff"/>
<Variable name="link.color" description="Link colors" type="color" default="#204ecf" value="#482dff"/>
<Variable name="link.bgColor" description="Button link colors" type="color" default="#204ecf" value="#482dff"/>
<Variable name="wave.bgColor" description="Wave background color" type="color" default="#204ecf" value="#C6DAFC"/>
</Group>

<Group description="Icon colors">
<Variable name="icon.color" description="Icon colors" type="color" default="#48525c" value="#08102b"/>
<Variable name="icon.colorAlt" description="Alternative icon colors" type="color" default="#767676" value="#08102b"/>
<Variable name="icon.colorSec" description="Secondary icon colors" type="color" default="#767676" value="#767676"/>
</Group>

<Group description="Notification">
<Variable name="notif.height" description="Notification max height" type="length" max="60px" default="45px" value="60px"/>
<Variable name="notif.bg" description="Notification background color" type="color" default="#e1f5fe" value="#e8f0fe"/>
<Variable name="notif.color" description="Notification text color" type="color" default="#08102b" value="#01579b"/>
</Group>

<Group description="Header colors, background and height">
<Variable name="header.height" description="Header height" type="length" max="80px" default="60px" value="60px"/>
<Variable name="header.heightM" description="Header height(mobile)" type="length" max="80px" default="60px" value="60px"/>
<Variable name="header.titleSize" description="Header title font size" type="length" max="20px" default="16px" value="16px"/>
<Variable name="header.text" description="Header text colors" type="color" default="#48525c" value="#343435"/>
<Variable name="header.icon" description="Header icon colors" type="color" default="#262d3d" value="#08102b"/>
<Variable name="header.bgColor" description="Header background color" type="color" default="#fffdfc" value="#fffdfc"/>
<Variable name="header.border" description="Header border" type="length" max="1px" default="0px" value="1px"/>
</Group>

<Group description="Navbar colors">
<Variable name="nav.width" description="Navbar max width" type="length" max="260px" default="230px" value="230px"/>
<Variable name="nav.border" description="Navbar border" type="length" max="1px" default="0px" value="1px"/>
<Variable name="nav.text" description="Navbar text colors" type="color" default="#48525c" value="#08102b"/>
<Variable name="nav.icon" description="Navbar icon color" type="color" default="#48525c" value="#08102b"/>
<Variable name="nav.bg" description="Navbar background color" type="color" default="#fffdfc" value="#fffdfc"/>
</Group>

<Group description="Searchbar colors">
<Variable name="search.icon" description="Searchbar icon color" type="color" default="#48525c" value="#48525c"/>
<Variable name="search.bg" description="Searchbar background color" type="color" default="#fffdfc" value="#fffdfc"/>
</Group>

<Group description="Content background">
<Variable name="content.bg" description="Content background color" type="color" default="#fffdfc" value="#fffdfc"/>
<Variable name="content.border" description="Content border color" type="color" default="#eceff1" value="#e6e6e6"/>
</Group>

<Group description="Content max width">
<Variable name="content.maxWidth" description="Max width of main content" type="length" max="1440px" default="1024px" value="1280px"/>
<Variable name="sidebar.maxWidth" description="Max width of sidebar" type="length" max="360px" default="300px" value="300px"/>
<Variable name="post.maxContent" description="Post max width" type="length" max="900px" default="720px" value="780px"/>
<Variable name="page.maxContent" description="Static page max width" type="length" max="900px" default="780px" value="780px"/>
</Group>

<Group description="Post font size">
<Variable name="post.titleSize" description="Post title font size" type="length" max="42px" default="28px" value="36px"/>
<Variable name="post.fontSize" description="Post font size (Default)" type="length" max="18px" default="16px" value="16px"/>
<Variable name="post.titleSizeMobile" description="Post title size (onMobile)" type="length" max="38px" default="22px" value="28px"/>
<Variable name="post.fontSizeMobile" description="Post font size (onMobile)" type="length" max="18px" default="16px" value="15px"/>
</Group>

<Group description="Widget title font size">
<Variable name="widget.titleSize" description="Widget title font size" type="length" max="18px" default="14px" value="15px"/>
<Variable name="widget.titleAfter" description="Widget title border" type="length" max="40px" default="25px" value="25px"/>
<Variable name="widget.titleAfterC" description="Widget title border color" type="color" default="#989b9f" value="#989b9f"/>
</Group>

<Group description="Mobile menu colors">
<Variable name="mob.border" description="Mobile menu border" type="length" max="2px" default="0px" value="1px"/>
<Variable name="mob.borderR" description="Mobile corder radius" type="length" max="60px" default="0px" value="12px"/>
<Variable name="mob.text" description="Mobile text colors" type="color" default="#48525c" value="#08102b"/>
<Variable name="mob.bg" description="Mobile background color" type="color" default="#fffdfc" value="#fffdfc"/>
<Variable name="mob.hovBg" description="Mobile hover background color" type="color" default="#f6f6f6" value="#f1f1f0"/>
</Group>

<Group description="Footer colors">
<Variable name="foot.border" description="Footer border" type="length" max="2px" default="0px" value="1px"/>
<Variable name="foot.text" description="Footer text colors" type="color" default="#48525c" value="#08102b"/>
<Variable name="foot.bg" description="Footer background color" type="color" default="#fffdfc" value="#fffdfc"/>
</Group>

<Group description="Dark mode colors and background">
<Variable name="dark.text" description="Dark mode text color" type="color" default="#fffdfc" value="#fffdfc"/>
<Variable name="dark.textAlt" description="Alternative text colors" type="color" default="#989b9f" value="#989b9f"/>
<Variable name="dark.link" description="Dark mode link colors" type="color" default="#005af0" value="#41B375"/>
<Variable name="dark.wave" description="Dark mode wave background color" type="color" default="#005af0" value="#343435"/>
<Variable name="dark.bg" description="Dark mode background color" type="color" default="#1e1e1e" value="#1e1e1e"/>
<Variable name="dark.bgAlt" description="Alternative background color" type="color" default="#2d2d30" value="#2d2d30"/>
<Variable name="dark.bgSec" description="Secondary background color" type="color" default="#252526" value="#252526"/>
</Group>

<Group description="Border Radius">
<Variable name="button.radius" description="Buttons Border Radius" type="length" max="50px" default="3px" value="50px"/>
<Variable name="greet.radius" description="Greetings and Views Border Radius" type="length" max="25px" default="3px" value="10px"/>
<Variable name="iconhover.radius" description="Icon Hover Border Radius" type="length" max="15px" default="15px" value="15px"/>
<Variable name="thumbelem.radius" description="Thumbnail Elements Border Radius" type="length" max="15px" default="8px" value="5px"/>
<Variable name="moblsearch.radius" description="Blog Search Border Radius (Mobile)" type="length" max="20px" default="12px" value="20px"/>
<Variable name="desksearch.radius" description="Blog Search Border Radius (Desktop)" type="length" max="20px" default="8px" value="20px"/>
<Variable name="moblheader.radius" description="Header Style 2 Border Radius (Mobile)" type="length" max="30px" default="8px" value="30px"/>
</Group>

<Group description="(Do not edit) New Blogger comment required">
<Variable name="body.background" description="Background" color="#505050" type="background" default="$(color) none repeat scroll center center"  value="$(color) url() no-repeat scroll center center"/>
<Variable name="body.text.font" description="Font Blogger comment" type="font" default="&#39;Roboto&#39;, sans-serif" value="400 14px &#39;Roboto&#39;, sans-serif"/>
<Variable name="body.text.color" description="Color" type="color" default="#505050"  value="#505050"/>
<Variable name="body.link.color" description="Link color" type="color" default="#262d3d"  value="#989b9f"/>
<Variable name="posts.title.color" description="Post title color" type="color" default="#262d3d"  value="#989b9f"/>
<Variable name="posts.text.color" description="Post text color" type="color" default="#48525c"  value="#989b9f"/>
<Variable name="posts.icons.color" description="Post info color" type="color" default="#262d3d" value="#989b9f"/>
<Variable name="posts.background.color" description="Post background color" type="color" default="#f7f7fc"  value="transparent"/>
<Variable name="tabs.font" description="Font" type="font" default="&#39;Roboto&#39;, sans-serif" value="400 14px &#39;Roboto&#39;, sans-serif"/>
<Variable name="tabs.color" description="Text color" type="color" default="#4d4d4d"  value="#08102b"/>
<Variable name="tabs.selected.color" description="Selected color" type="color" default="#fff"  value="#fffdfc"/>
<Variable name="tabs.overflow.background.color" description="Popup background color" type="color" default="$(posts.background.color)"  value="#fffdfc"/>
<Variable name="tabs.overflow.color" description="Popup text color" type="color" default="#48525c"  value="#08102b"/>
<Variable name="tabs.overflow.selected.color" description="Popup selected color" type="color" default="#262d3d"  value="#989b9f"/>
<Variable name="labels.background.color" description="Labels background color" type="color" default="#fff" value="#fffdfc"/>
<Variable name="blog.title.font" description="Blog title font" type="font" default="&#39;Roboto&#39;, sans-serif" value="400 14px &#39;Roboto&#39;, sans-serif"/>
<Variable name="blog.title.color" description="Blog title color" type="color" default="#fff" value="#fffdfc"/>
</Group>
*/

/* Variable color */ :root, :root .lgT:not(.drK), :root .theme0:not(.drK){/* Theme */ --themeC: $(themeColor); /* Body */ --headC: $(head.color); --bodyC: $(body.color); --bodyCa: $(body.colorAlt); --bodyB: $(body.bgColor); /* Link */ --linkC: $(link.color); --linkB: $(link.bgColor); /* Wave */ --waveB: $(wave.bgColor); /* Icon */ --iconC: $(icon.color); --iconCa: $(icon.colorAlt); --iconCs: $(icon.colorSec); /* Header */ --headerC: $(header.text); --headerT: $(header.titleSize); --headerW: 400; /* write 400(normal) or 700(bold) */ --headerB: $(header.bgColor); --headerL: $(header.border); --headerI: $(header.icon); --headerH: $(header.height); --headerHi: -$(header.height); --headerHm: $(header.heightM); --headerR: $(moblheader.radius); /* Notif */ --notifH: $(notif.height); --notifU: $(notif.bg); --notifC: $(notif.color); /* Content */ --contentB: $(content.bg); --contentL: $(content.border); --contentW: $(content.maxWidth); --sideW: $(sidebar.maxWidth); --transB: rgba(0,0,0,.05); /* Page */ --pageW: $(page.maxContent); --pageW: $(post.maxContent); --postT: $(post.titleSize); --postF: $(post.fontSize); --postTm: $(post.titleSizeMobile); --postFm: $(post.fontSizeMobile); /* Widget */ --widgetT: $(widget.titleSize); --widgetTw: 400; /* write 400(normal) or 700(bold) */ --widgetTa: $(widget.titleAfter); --widgetTac: $(widget.titleAfterC); /* Nav */ --navW: $(nav.width); --navT: $(nav.text); --navI: $(nav.icon); --navB: $(nav.bg); --navL: $(nav.border); /* Search */ --srchI: $(search.icon); --srchB: $(search.bg); /* Mob Men */ --mobT: $(mob.text); --mobHv: $(mob.hovBg); --mobB: $(mob.bg); --mobL: $(mob.border); --mobBr: $(mob.borderR); /* Footer */ --fotT: $(foot.text); --fotB: $(foot.bg); --fotL: $(foot.border); /* Font family */ --fontH: Google Sans Text,Arial,Helvetica,sans-serif; --fontB: Google Sans Text,Arial,Helvetica,sans-serif; --fontBa: Google Sans Text,Arial,Helvetica,sans-serif; --fontC: Google Sans Mono,monospace; /* Trans */ --trans-1: all .1s ease; --trans-2: all .2s ease; --trans-3: all .3s ease; --trans-4: all .4s ease; /* Synx */ --synxBg: #f6f6f6; --synxC: #2f3337; --synxOrange: #b75501; --synxBlue: #015692; --synxGreen: #54790d; --synxRed: #f15a5a; --synxGray: #656e77; /* Border Radius */ --buttonR: $(button.radius); --greetR: $(greet.radius);  --iconHr: $(iconhover.radius);  --thumbEr: $(thumbelem.radius); --srchMr: $(moblsearch.radius); --srchDr : $(desksearch.radius); /* Dark */ --darkT: $(dark.text); --darkTa: $(dark.textAlt); --darkU: $(dark.link); --darkW: $(dark.wave); --darkB: $(dark.bg); --darkBa: $(dark.bgAlt); --darkBs: $(dark.bgSec);}

/* Dark Mode */ :root .drK{/* Theme */ --themeC: $(themeDark);}

/* Theme 1 - Red */ :root .theme1:not(.drK){/* Theme */ --themeC: #D32F2F; /* Body */ --bodyB: #FFFCFD; /* Link */ --linkC: #F44336; --linkB: #F44336; /* Header */ --headerB: #FFEBEE; /* Notif */ --notifU: #FFEBEE; --notifC: #B71C1C; /* Search */ --srchB: #FFEBEE; /* MobMn */ --mobB: #FFEBEE; /* Wave */ --waveB: #FFEBEE;}

/* Theme 2 - Green */ :root .theme2:not(.drK){/* Theme */ --themeC: #00796B; /* Body */ --bodyB: #FCFFFC; /* Link */ --linkC: #009688; --linkB: #009688; /* Header */ --headerB: #E0F2F1; /* Notif */ --notifU: #E0F2F1; --notifC: #00796B; /* Search */ --srchB: #E0F2F1; /* MobMn */ --mobB: #E0F2F1; /* Wave */ --waveB: #E0F2F1;}

/* Theme 3 - Blue */ :root .theme3:not(.drK){/* Theme */ --themeC: #1565C0; /* Body */ --bodyB: #FBFEFF; /* Link */ --linkC: #1976D2; --linkB: #1976D2; /* Header */ --headerB: #E3F2FD; /* Notif */ --notifU: #E3F2FD; --notifC: #1565C0; /* Search */ --srchB: #E3F2FD; /* MobMn */ --mobB: #E3F2FD; /* Wave */ --waveB: #E3F2FD;}

/* Theme 4 - Yellow */ :root .theme4:not(.drK){/* Theme */ --themeC: #FFC107; /* Body */ --bodyB: #FFFEFA; /* Link */ --linkC: #FF8F00; --linkB: #FF8F00; /* Header */ --headerB: #FFF8E1; /* Notif */ --notifU: #FFF8E1; --notifC: #FF8F00; /* Search */ --srchB: #FFF8E1; /* MobMn */ --mobB: #FFF8E1; /* Wave */ --waveB: #FFF8E1;}

/* Theme 5 - Pink */ :root .theme5:not(.drK){/* Theme */ --themeC: #C2185B; /* Body */ --bodyB: #FFFCFD; /* Link */ --linkC: #D81B60; --linkB: #D81B60; /* Header */ --headerB: #FCE4EC; /* Notif */ --notifU: #FCE4EC; --notifC: #C2185B; /* Search */ --srchB: #FCE4EC; /* MobMn */ --mobB: #FCE4EC; /* Wave */ --waveB: #FCE4EC;}

/* Theme 6 - Orange */ :root .theme6:not(.drK){/* Theme */ --themeC: #E64A19; /* Body */ --bodyB: #FBFEFF; /* Link */ --linkC: #F4511E; --linkB: #F4511E; /* Header */ --headerB: #FBE9E7; /* Notif */ --notifU: #FBE9E7; --notifC: #E64A19; /* Search */ --srchB: #FBE9E7; /* MobMn */ --mobB: #FBE9E7; /* Wave */ --waveB: #FBE9E7;}

/* Theme 7 - Blue Grey */ :root .theme7:not(.drK){/* Theme */ --themeC: #455A64; /* Body */ --bodyB: #FBFEFF; /* Link */ --linkC: #546E7A; --linkB: #546E7A; /* Header */ --headerB: #ECEFF1; /* Notif */ --notifU: #ECEFF1; --notifC: #455A64; /* Search */ --srchB: #ECEFF1; /* MobMn */ --mobB: #ECEFF1; /* Wave */ --waveB: #ECEFF1;}

/* Theme 8 - Brown */ :root .theme8:not(.drK){/* Theme */ --themeC: #5D4037; /* Body */ --bodyB: #FBFEFF; /* Link */ --linkC: #5D4037; --linkB: #5D4037; /* Header */ --headerB: #EFEBE9; /* Notif */ --notifU: #EFEBE9; --notifC: #5D4037; /* Search */ --srchB: #EFEBE9; /* MobMn */ --mobB: #EFEBE9; /* Wave */ --waveB: #EFEBE9;}

/* Theme 9 - Purple */ :root .theme9:not(.drK){/* Theme */ --themeC: #7B1FA2; /* Body */ --bodyB: #FBFEFF; /* Link */ --linkC: #8E24AA; --linkB: #8E24AA; /* Header */ --headerB: #F3E5F5; /* Notif */ --notifU: #F3E5F5; --notifC: #7B1FA2; /* Search */ --srchB: #F3E5F5; /* MobMn */ --mobB: #F3E5F5; /* Wave */ --waveB: #F3E5F5;}

/* Theme 10 - Indigo */ :root .theme10:not(.drK){/* Theme */ --themeC: #283593; /* Body */ --bodyB: #FBFEFF; /* Link */ --linkC: #3949AB; --linkB: #3949AB; /* Header */ --headerB: #E8EAF6; /* Notif */ --notifU: #E8EAF6; --notifC: #283593; /* Search */ --srchB: #E8EAF6; /* MobMn */ --mobB: #E8EAF6; /* Wave */ --waveB: #E8EAF6;}

/* CodeBox CSS by FineshopDesign.com */
.pre{background:#f6f6f6;color:#2f3337;direction: ltr;position:relative;border-radius:3px;overflow:hidden;margin:1.7em auto} 
.pre pre{margin:0;color:inherit;background:inherit;display:block;position:relative;font-size:13px;line-height:1.6em;border-radius:3px;padding:30px 20px 20px;-moz-tab-size:2;tab-size:2;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none; overflow:auto;direction:ltr;white-space:pre} 
.pre.adv{border-radius:10px}
.pre.adv::before{display:none}
.pre:not(.str) .prCd{display:none}
.pre.str .prTl{display:none;}
.pre.adv pre{padding-top:60px}
.preM{position:absolute;top:0;right:0;left:0;width:100%;background: rgba(0,0,0,.04);padding:10px 10px 10px 20px;display:flex;justify-content:space-between;align-items:center;flex-wrap:nowrap;z-index:2}
.preT{font-size:12px;font-family: var(--fontC);line-height:1rem;position:relative;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;padding-right:10px;}
.preA{display:flex;gap:8px;white-space:nowrap;}
.preA button{outline:none;border:none;width:30px;height:30px;background:#d9d9d9;padding:0;margin:0;border-radius:50%;transition:border-radius .2s ease;display:inline-flex;align-items:center;justify-content:center;cursor:pointer;}
.preA button:hover{border-radius:40%;}
.preA button >svg{width:18px;height:18px;stroke:none;fill:#2e2e2e;transition: all .5s ease;}
.pre.cpd .prCp svg, .pre.pnd .prDl svg, .pre.dwn .prDl svg{animation: jiggle 1s}
.pre.cpd .prCp svg .a,.pre:not(.cpd) .prCp svg .b{opacity:0}
.pre.dwn .prDl svg .a, .pre.pnd .prDl svg .a,.pre:not(.pnd) .prDl svg .b,.pre:not(.dwn) .prDl svg .c{opacity:0}
@keyframes jiggle{0%{transform:rotate(0)}20%{transform:rotate(26deg)}40%{transform:rotate(-26deg)}60%{transform:rotate(26deg)}80%{transform:rotate(-26deg)}100%{transform:rotate(0)}}
@-webkit-keyframes jiggle{0%{transform:rotate(0)}20%{transform:rotate(26deg)}40%{transform:rotate(-26deg)}60%{transform:rotate(26deg)}80%{transform:rotate(-26deg)}100%{transform:rotate(0)}}
  


.input-group {
position: relative;
}
.panel.panel-primary{
background:#eee;
text-align:center;
display:table;
overflow:hidden;
width:100%;
max-width:970px;
padding:0;
border-radius:5px;
margin:25px auto;
border: 1px solid #e1e1e1;
}
.panel-body{
position:relative;
margin:0 25px;
box-sizing: border-box;
}
.panel-heading h2{
color:#000;
margin:0 auto 25px auto;
font-weight:500;
padding:15px;
font-size:20px;
border-bottom:1px solid rgba(0,0,0,0.05)
}
.panel-body input{
background: #fff;
width: 100%;
padding: 15px;
border-radius: 5px;
border: 1px solid transparent;
box-shadow: 0 1px 1px rgba(204,197,185,0.5);
font-size: 16px;
color: #000;
outline: none;
text-indent: 60px;
transition: all .3s;
box-sizing: border-box;
}
.panel-body input:focus{
background:#fff;
color:#000;
border-color:#e74c3c;
outline:none;
box-shadow:0 0 5px rgba(0,0,0,0.1)
}
.panel-body .input-group-btn{
position:absolute;
top:0;
right:0
}
.panel-body button{
border-radius: 0 5px 5px 0;
background: #008000;
color: #fff;
border: 0;
padding: 16px 52px;
height: 50px;
font-weight: 700;
font-size: 14px;
text-transform: uppercase;
outline: none;
cursor:pointer;
transition: all .3s;
}
.panel-body button:hover,.panel-body button:focus{
background:#d24637;
outline:none
}
#generatelink{
margin:20px auto 0 auto
}
#generatelink button{
background:#01a3a4;
border-radius:5px;
font-size:14px;
padding:14px 32px
}
#generatelink button:hover,#generatelink button:focus{
background:#028889;
border-radius:5px;
font-size:14px
}
#generatelink button .fa.fa-floppy-o,#generatelink button .fa.fa-check{
margin:0 5px 0 0
}
.panel-body:before{
content:'
\f0c1'
;
background:rgba(0,0,0,0.05);
font-family:fontawesome;
position:absolute;
left:0;
top:0;
color:#888;
padding:12px 20px;
border-radius:5px 0 0 5px;
border-right:1px solid transparent;
transition:all .6s
}
.panel-body:active:before,.panel-body:focus-within:before{
content:'
\f061'
;
background:#e74c3c;
color:#fff
}
#generatelink input{
background:#ffeaa7;
text-indent:0
}
#generatelink input:hover,#generatelink input:focus{
background:#ffeaa7;
border-color:transparent;
box-shadow:none
}
#generateloading{
margin:20px auto 0 auto;
font-size:20px;
color:#f39c12;
font-weight:normal
}
.hidden {
display: none;
}
#timer{
margin:20px auto;
width:80px;
text-align:center
}
.pietimer{
position:relative;
font-size:200px;
width:1em;
height:1em
}
.pietimer >
.percent{
position:absolute;
top:28px;
left:12px;
width:3.33em;
font-size:18px;
text-align:center;
display:none
}
.pietimer >
.slice{
position:absolute;
width:1em;
height:1em;
clip:rect(0px,1em,1em,0.5em)
}
.pietimer >
.slice.gt50{
clip:rect(auto,auto,auto,auto)
}
.pietimer >
.slice >
.pie{
border:0.06em solid #c0c0c0;
position:absolute;
width:70px;
height:70px;
clip:rect(0em,0.5em,1em,0em);
border-radius:0.5em
}
.pietimer >
.slice >
.pie.fill{
-moz-transform:rotate(180deg)!important;
-webkit-transform:rotate(180deg)!important;
-o-transform:rotate(180deg)!important;
transform:rotate(180deg)!important
}
.pietimer.fill >
.percent{
display:none
}
.pietimer.fill >
.slice >
.pie{
border:transparent;
background-color:#c0c0c0;
width:1em;
height:1em
}
.text-center{
text-align:center
}
.text-center button{
margin:20px auto;
border-radius:5px;
text-align:center;
padding:12px 22px;
background:#008000;
color:#fff;
cursor: pointer;
font-weight: 700;
font-size: 14px;
text-transform: uppercase;
box-shadow:0 5px 10px rgba(0,0,0,0.19),0 3px 3px rgba(0,0,0,0.13);
transition:all 0.3s cubic-bezier(.25,.8,.25,1);
border: none;
}
.panel-body .text-center button{
margin:0 auto;
}
.text-center button:hover,.text-center button:active,.text-center button:focus{
box-shadow:0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24)
}
.text-center button span{
margin:0 5px 0 0
}
.panel-body{
margin:0 auto;
padding:25px
}
.panel-body:before{
display:none
}
.panel-heading h2{
background:#fff;
color:#222;
margin:0 auto;
font-weight:500;
padding:21px;
font-size:24px;
text-align:center
}
@media (max-width: 540px) {
.panel-body .input-group-btn {
display: block;
position: relative;
overflow: hidden;
margin: 20px auto 0 auto;
}
.panel-body button {
border-radius: 5px;
width: 100%;
}
}

.btnn{
  margin: 50px;
  text-align: center;
}

.mybtnn{
        border-radius:3px;
        text-decoration:none;
        font-family:sans-serif;
        font-size:20px;
        padding: 10px 20px;
        background-color:#00ad25;
        color:#fff;
        transition-delay:.2s;
        transition:.3s;
        font-variant-caps:all-small-caps;
        box-shadow:4px 3px 11px 0 #00ad25;
        }
.mybtnn:hover{
        background-color:#009420;
        box-shadow:4px 3px 11px 0 #005a13;
        }]]>
